/* General body styles */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #b7aeae;
}

/* Header styles */
header {
  background-color: #35424a;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Main content area */
main {
  padding: 20px;
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

section {
  margin-bottom: 20px;
}

h2,
h3 {
  color: #35424a;
}

/* Aside styles */
aside {
  background-color: #e2e2e2;
  padding: 20px;
  margin-top: 20px;
}

/* Footer styles */
footer {
  background-color: #35424a;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer section {
  margin-bottom: 10px;
}
